*{
    box-sizing: border-box;
}

body{
    width: 700px;
    height: 650px;
    border: 4px solid black;
}

header{
    border-bottom: 3px solid black;
    padding-left: 10px;
}

section{
    display: flex;
    justify-content: space-evenly;
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img{
    width: 200px;
    height: 200px;
}

div{
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
}

.top-section, .box-4, .box-5, .box-6{
    border: 3px solid black;
}

.top-section{
    width: 645px;
    height: 100px;
    background-color: green;
    margin-top: 40px;
}

.box-4{
    background-color: orange;
}

.box-5{
    background-color: red;
}

.box-6{
    background-color: lightskyblue;
}
