*{
    box-sizing: border-box;
}

body{
    width: 690px;
    height: 600px;
    border: 3px solid black;
}

header{
    border-bottom: 3px solid black;
    padding-left: 10px;
}

main{
    height: 390px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

div{
    border: 3px solid black;
    margin-top: 5px;
}

.box-1, .box-2, .box-3{
    background-color: red;
    height: 100px;
    width: 130px;
    margin-left: 40px;
}

.box-4, .box-5, .box-6{
    background-color: lightskyblue;
    height: 100px;
    width: 400px;
}

section{
    display: flex;
    justify-content: space-around;
}

.footer-box{

    background-color: lightyellow;
    width: 590px;
    height: 100px;
    margin-right: 16px;
    margin-top: 15px;
}
