body{
    background-color: rgb(58, 191, 244);
    width: 960px;
    margin: 0 auto;
}

li::first-letter{
    text-transform: uppercase;
    font-size: 1.5em;
}

li{
    list-style-type: none;
    text-align: center;
}