body{
    background-color: rgba(3, 3, 55, 0.817);
    font-family:Arial, Helvetica, sans-serif;
}

#wrap{
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    display: table;
}

#nav{
    background-color: rgb(131, 159, 188);
    padding: 5px 10px;
    float: left;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

#content{
    background-color: rgb(77, 96, 162);
    text-align: center;
    padding: 4px 20px 1px 20px;
    overflow: hidden;
}

#content li{
    list-style: none;
}

.copyright{
    position: absolute; 
    white-space: nowrap;
}